{% extends "layout.html" %}
{% block content %}
  <div class="container" align="center">
    <form class="border border-dark rounded mt-3" action="" method="POST" style="width: 80%" novalidate>
      {{ form.hidden_tag() }}
      <fieldset>
        <legend>Query the Database</legend>
        <div class="row g-0">
          <div class="col-auto mx-auto mb-3">
            {{ form.tables.label(class="form-label") }}
            {{ form.tables(class="form-select form-select-lg", onchange="tablesChange()") }}
            <div class="invalid-feedback">
              {{ form.tables.errors[0]|safe }}
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-auto mx-auto mb-3">
            {{ form.order_by.label(class="form-label") }}
            {{ form.order_by(class="form-select form-select-lg", onchange="order_byChange()") }}
            <div class="invalid-feedback">
              {{ form.order_by.errors[0]|safe }}
            </div>
          </div>
          <div class="col-auto mx-auto mb-3">
            {{ form.columns.label(class="form-label") }}
            {{ form.columns(class="form-select form-select-lg", size=3, onchange="columnsChange()") }}
            <div class="invalid-feedback">
              {{ form.columns.errors[0]|safe }}
            </div>
          </div>
          <div class="col-auto mx-auto mb-3">
            {{ form.limit.label(class="form-label") }}
            {{ form.limit(class="form-control form-control-lg", onchange="limitChange()") }}
            <div class="invalid-feedback">
              {{ form.limit.errors[0]|safe }}
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-auto mx-auto mb-3">
            {{ form.distinct.label(class="form-check-label") }}
            <div class="form-switch mb-3">
              {{ form.distinct(class="form-check-input") }}
            </div>
            <div class="invalid-feedback">
              {{ form.distinct.errors[0]|safe }}
            </div>
          </div>
        </div>
      </fieldset>
      <div class="mb-3">
        {{ form.submit(class="btn btn-lg btn-secondary") }}
      </div>
    </form>
    <button class="btn btn-secondary mb-3 mt-3" align="center" onClick="sa_change()"> Show Advanced Query Options</button>
  </div>
  <div class="container text-center">
    <p>Visit the Help page for more information on each specific field.</p>
  </div>
  <script type="text/javascript">
    var all_columns = {{ all_columns|tojson }}, errors = {{ form.errors|tojson }};
    sa_change = () => window.location.replace("{{ url_for('search.query_advanced') }}");
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/query_simple.js') }}"></script>
  <style>
    div.mx-auto {
      width: 25%;
    }
  </style>
{% endblock content %}
