{% extends "layout.html" %}
{% block content %}
  <div class="container" align="center">
    <form class="border border-dark rounded mt-3" action="" method="POST" style="width: 80%" novalidate>
      {{ form.hidden_tag() }}
      <fieldset>
        <legend>Query the Database</legend>
      	<div class="row">
      		<div class="col-auto mx-auto mb-3">
            {{ form.tables.label(class="form-label") }}
            {{ form.tables(class="form-select form-select-lg", onchange="tablesChange()") }}
            <div class="invalid-feedback">
              {{ form.tables.errors[0]|safe }}
            </div>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-auto mx-auto mb-3">
      			<div class="row">
      				<div class="col-md-12 mb-3">
                {{ form.order_by.label(class="form-label") }}
                {{ form.order_by(class="form-select form-select-lg", onchange="order_byChange()") }}
                <div class="invalid-feedback">
                  {{ form.order_by.errors[0]|safe }}
                </div>
      				</div>
      			</div>
      			<div class="row">
      				<div class="col-md-12 mt-3 mb-3">
                {{ form.nulls_last.label(class="form-check-label") }}
                <div class="form-switch mb-3">
                  {{ form.nulls_last(class="form-check-input") }}
                </div>
                <div class="invalid-feedback">
                  {{ form.nulls_last.errors[0]|safe }}
                </div>
      				</div>
      			</div>
      			<div class="row">
      				<div class="col-md-12 mb-3 mt-3">
                {{ form.distinct.label(class="form-check-label") }}
                <div class="form-switch mb-3">
                  {{ form.distinct(class="form-check-input") }}
                </div>
                <div class="invalid-feedback">
                  {{ form.distinct.errors[0]|safe }}
                </div>
      				</div>
      			</div>
      		</div>
      		<div class="col-auto mx-auto mb-3">
            {{ form.columns.label(class="form-label") }}
            {{ form.columns(class="form-select form-select-lg", size=7, onchange="columnsChange()") }}
            <div class="invalid-feedback">
              {{ form.columns.errors[0]|safe }}
            </div>
      		</div>
      		<div class="col-auto mx-auto mb-3">
      			<div class="row">
      				<div class="col-md-12 mb-3">
                {{ form.limit.label(class="form-label") }}
                {{ form.limit(class="form-control form-control-lg", onchange="limitChange()") }}
                <div class="invalid-feedback">
                  {{ form.limit.errors[0]|safe }}
                </div>
      				</div>
      			</div>
      			<div class="row">
      				<div class="col-md-12 mb-3">
                {{ form.offset.label(class="form-label") }}
                {{ form.offset(class="form-control form-control-lg", onchange="offsetChange()") }}
                <div class="invalid-feedback">
                  {{ form.offset.errors[0]|safe }}
                </div>
      				</div>
      			</div>
      			<div class="row">
      				<div class="col-md-12 mb-3">
                {{ form.show_query.label(class="form-check-labell") }}
                <div class="form-switch mb-3">
                  {{ form.show_query(class="form-check-input") }}
                </div>
                <div class="invalid-feedback">
                  {{ form.show_query.errors[0]|safe }}
                </div>
      				</div>
      			</div>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-auto mx-auto mb-3">
            {{ form.where_left.label(class="form-label") }}
            {{ form.where_left(class="form-select form-select-lg", onchange="where_colsChange()") }}
            <div class="invalid-feedback">
              {{ form.where_left.errors[0]|safe }}
            </div>
      		</div>
      		<div class="col-auto mx-auto mb-3">
            {{ form.where_operator.label(class="form-label") }}
            {{ form.where_operator(class="form-select form-select-lg") }}
            <div class="invalid-feedback">
              {{ form.where_operator.errors[0]|safe }}
            </div>
      		</div>
      		<div class="col-auto mx-auto mb-3">
            {{ form.where_right.label(class="form-label") }}
            {{ form.where_right(class="form-control form-control-lg") }}
            <div class="invalid-feedback">
              {{ form.where_right.errors[0]|safe }}
            </div>
      		</div>
      	</div>
      </fieldset>
      <div class="mb-3">
        {{ form.submit(class="btn btn-lg btn-secondary") }}
      </div>
    </form>
    <button class="btn btn-secondary mb-3 mt-3" align="center" onclick="sa_change()">Hide Advanced Query Options</button>
  </div>
  <div class="container text-center">
    <p><small>Have a query in SQLite syntax from this site? Go to <a href="{{ url_for('search.query_raw') }}">this page</a> to query the database directly.</small></p>
    <p>Visit the Help page for more information on each specific field.</p>
  </div>
  <script type="text/javascript">
    var all_columns = {{ all_columns|tojson }}, errors = {{ form.errors|tojson }};
    sa_change = () => window.location.replace("{{ url_for('search.query_simple') }}");
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/query_advanced.js') }}"></script>
  <style>
    div.mx-auto {
      width: 30%;
    }
  </style>
{% endblock content %}
